.city-berea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 17px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 35px;
}
.city-berea__title_berea {
  margin: 0;
  max-width: 584px;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle-berea {
  display: flex;
  max-width: 456px;
  flex-direction: column;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1;
  padding-bottom: 31px;
}
.subtitle-berea__place_artist_berea {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle-berea__place_name_travis {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city-berea__image_berea {
  max-width: 460px;
  width: 100%;
}
.paragraph-berea {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  max-width: 484px;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}
.paragraph-berea__berea_text_usa {
  padding-bottom: 17px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.paragraph-berea__berea_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.city-berea__link {
  background-color: #0278fe;
  color: #fff;
  margin-top: 31px;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.city-berea__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city-berea {
    max-width: 720px;
    column-gap: 17px;
  }
  .city-berea__title_berea {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .paragraph-berea__berea_text_usa {
    padding-bottom: 20px;
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph-berea__berea_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle-berea__place_artist_berea {
    line-height: auto;
  }
  .city-berea__image_berea {
    max-width: 340px;
    width: 100%;
  }
  .paragraph-berea {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6px;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city-berea {
    padding-top: 36px;
    display: block;
    max-width: 320px;
    align-items: center;
  }
  .city-berea__title_berea {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle-berea {
    padding-bottom: 30px;
  }
  .subtitle-berea__place_artist_berea {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 0 auto 8px;
    padding-top: 20px;
  }
  .subtitle-berea__place_name_travis {
    max-width: 288px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 0;
    text-align: left;
  }
  .city-berea__image_berea {
    max-width: 320px;
    margin-bottom: 8px;
  }
  .paragraph-berea {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city-berea__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
