.intro {
  max-width: 1017px;
  margin: auto;
  color: #fff;
}
.intro__title {
  margin: 0;
  max-width: 1017px;
  width: 100%;
  padding-top: 92px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}
.intro__text-beuys {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  max-width: 722px;
}
.intro__quote {
  position: absolute;
  right: -2px;
  bottom: -10px;
}

.intro__practicum {
  margin: 0;
  max-width: 720px;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  padding-top: 32px;
}
@media screen and (max-width: 1000px) {
  .intro {
    max-width: 720px;
  }
  .intro__title {
    padding-top: 55px;
  }
}
@media screen and (max-width: 720px) {
  .intro {
    max-width: 288px;
  }
  .intro__quote {
    bottom: -32px;
  }
  .intro__title {
    padding-top: 44px;
    font-size: 32px;
    line-height: 35px;
  }
}
