.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 48px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 92px;
}
.city__title_kiev {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.subtitle__place_artist_kiev {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle__place_name_natalia {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city__images_kiev {
  max-width: 460px;
  width: 100%;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 484px;
  text-align: left;
}
.paragraph__kiev_text_ucrania {
  padding-bottom: 25px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.paragraph__kiev_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.city__link_kiev {
  background-color: #0278fe;
  display: flex;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.city__link_kiev:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city {
    max-width: 720px;
    row-gap: 24px;
    column-gap: 17px;
  }
  .city__title_kiev {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 22px;
  }
  .subtitle {
    max-width: 295px;
  }
  .paragraph__kiev_text_ucrania {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph__kiev_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle__place_artist_kiev {
    line-height: auto;
    padding-bottom: 8px;
  }
  .city__image_kiev {
    max-width: 340px;
    width: 100%;
    padding-bottom: 24px;
  }
  .paragraph {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city {
    display: block;
    max-width: 320px;
    align-items: center;
    padding-top: 62px;
  }
  .city__title_kiev {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle__place_artist_kiev {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 30px auto 8px;
  }
  .subtitle__place_name_natalia {
    max-width: 288px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 30px;
  }
  .city__image_kiev {
    max-width: 320px;
  }
  .paragraph {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city__link_kiev {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
