.lead {
  padding-top: 90px;
}
.lead__title {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  max-width: 793px;
  margin: auto;
  text-align: center;
}
.lead__subtitle {
  color: #fff;
  padding-top: 32px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 720px;
  margin: auto;
  text-align: center;
}
.lead__image {
  max-width: 984px;
  display: block;
  margin: auto;
  padding-top: 64px;
}

@media screen and (max-width: 1000px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 720px;
    padding-top: 99px;
  }
  .lead__image {
    max-width: 768px;
    padding-top: 69px;
  }
}

@media screen and (max-width: 580px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
  .lead {
    padding-top: 50.15px;
  }
  .lead__subtitle {
    padding-top: 60px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
  .lead__image {
    max-width: 320px;
    padding-top: 40px;
  }
}
