.places {
  color: #fff;
}
.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 48px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 92px;
}
.city__title_kiev {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.subtitle__place_artist_kiev {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle__place_name_natalia {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city__images_kiev {
  max-width: 460px;
  width: 100%;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 484px;
  text-align: left;
}
.paragraph__kiev_text_ucrania {
  padding-bottom: 25px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.paragraph__kiev_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.city__link_kiev {
  background-color: #0278fe;
  display: flex;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.city__link_kiev:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city {
    max-width: 720px;
    row-gap: 24px;
    column-gap: 17px;
  }
  .city__title_kiev {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 22px;
  }
  .subtitle {
    max-width: 295px;
  }
  .paragraph__kiev_text_ucrania {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph__kiev_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle__place_artist_kiev {
    line-height: auto;
    padding-bottom: 8px;
  }
  .city__image_kiev {
    max-width: 340px;
    width: 100%;
    padding-bottom: 24px;
  }
  .paragraph {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city {
    display: block;
    max-width: 320px;
    align-items: center;
    padding-top: 62px;
  }
  .city__title_kiev {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle__place_artist_kiev {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 30px auto 8px;
  }
  .subtitle__place_name_natalia {
    max-width: 288px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 30px;
  }
  .city__image_kiev {
    max-width: 320px;
  }
  .paragraph {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city__link_kiev {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
.city-gales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 48px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 80px;
}
.city-gales__title_gales {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle-gales {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.subtitle-gales__place_artist_gales {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle-gales__place_name_warren {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city-gales__image_gales {
  max-width: 460px;
  width: 100%;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  max-width: 484px;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}
.paragraph__gales_text_creccieth {
  padding-bottom: 56px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.paragraph__gales_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.city-gales__link {
  background-color: #0278fe;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.city-gales__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city-gales {
    max-width: 720px;
    column-gap: 17px;
  }
  .city-gales__title_gales {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .paragraph__gales_text_creccieth {
    padding-bottom: 25px;
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph__gales_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle-gales__place_artist_gales {
    line-height: auto;
  }
  .city-gales__image_gales {
    max-width: 340px;
    width: 100%;
  }
  .paragraph {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 163%;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city-gales {
    padding-top: 16px;
    display: block;
    max-width: 320px;
    align-items: center;
  }
  .city-gales__title_gales {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle-gales__place_artist_gales {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 30px auto 8px;
  }
  .subtitle-gales__place_name_warren {
    max-width: 288px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 0;
    text-align: left;
  }
  .city-gales__image_gales {
    max-width: 320px;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .paragraph {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city-gales__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
.city-berea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 17px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 35px;
}
.city-berea__title_berea {
  margin: 0;
  max-width: 584px;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle-berea {
  display: flex;
  max-width: 456px;
  flex-direction: column;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1;
  padding-bottom: 31px;
}
.subtitle-berea__place_artist_berea {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle-berea__place_name_travis {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city-berea__image_berea {
  max-width: 460px;
  width: 100%;
}
.paragraph-berea {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  max-width: 484px;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}
.paragraph-berea__berea_text_usa {
  padding-bottom: 17px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.paragraph-berea__berea_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.city-berea__link {
  background-color: #0278fe;
  color: #fff;
  margin-top: 31px;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.city-berea__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city-berea {
    max-width: 720px;
    column-gap: 17px;
  }
  .city-berea__title_berea {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .paragraph-berea__berea_text_usa {
    padding-bottom: 20px;
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph-berea__berea_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle-berea__place_artist_berea {
    line-height: auto;
  }
  .city-berea__image_berea {
    max-width: 340px;
    width: 100%;
  }
  .paragraph-berea {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6px;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city-berea {
    padding-top: 36px;
    display: block;
    max-width: 320px;
    align-items: center;
  }
  .city-berea__title_berea {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle-berea {
    padding-bottom: 30px;
  }
  .subtitle-berea__place_artist_berea {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 0 auto 8px;
    padding-top: 20px;
  }
  .subtitle-berea__place_name_travis {
    max-width: 288px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 0;
    text-align: left;
  }
  .city-berea__image_berea {
    max-width: 320px;
    margin-bottom: 8px;
  }
  .paragraph-berea {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city-berea__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
.city-burundi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 17px;
  column-gap: 17px;
  max-width: 984px;
  padding-top: 80px;
}
.city-burundi__title_burundi {
  margin: 0;
  max-width: 584px;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle-burundi {
  display: flex;
  max-width: 456px;
  flex-direction: column;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1;
}
.subtitle-burundi__place_artist_burundi {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle-burundi__place_name_grevisse {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city-burundi__images_burundi {
  max-width: 460px;
  width: 100%;
  padding-top: 31px;
}
.paragraph-burundi {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  max-width: 484px;
  padding-top: 31px;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}
.paragraph-burundi__burundi_text_burundi {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.paragraph-burundi__burundi_text {
  margin: 0;
  padding-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.city-burundi__link {
  background-color: #0278fe;
  color: #fff;
  margin-bottom: 60px;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.city-burundi__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city-burundi {
    max-width: 720px;
    column-gap: 17px;
    padding-top: 25px;
  }
  .city-burundi__title_burundi {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .paragraph-burundi__burundi_text_burundi {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph-burundi__burundi_text {
    font-size: 16px;
    max-width: 352px;
    padding-top: 11px;
  }
  .subtitle-burundi__place_artist_burundi {
    line-height: auto;
  }
  .city-burundi__images_burundi {
    max-width: 340px;
    width: 100%;
    max-height: 340px;
    height: 100%;
  }
  .paragraph-burundi {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6px;
    text-align: left;
    padding-top: 11px;
  }
  .city-burundi__link {
    margin-top: 48px;
  }
}
@media screen and (max-width: 580px) {
  .city-burundi {
    padding-top: 17px;
    display: block;
    max-width: 320px;
    align-items: center;
  }
  .city-burundi__title_burundi {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle-burundi {
    padding-bottom: 8px;
  }
  .subtitle-burundi__place_artist_burundi {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 0 auto 8px;
    padding-top: 30px;
  }
  .subtitle-burundi__place_name_grevisse {
    max-width: 288px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 0;
    text-align: left;
  }
  .city-burundi__images_burundi {
    max-width: 320px;
    padding-top: 0;
  }
  .paragraph-burundi {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
    padding-top: 30px;
  }
  .paragraph-burundi__burundi_text_burundi {
    padding-top: 25px;
  }
  .city-burundi__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
.city-cuauh {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 17px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 35px;
}
.city-cuauh__title_cuauh {
  margin: 0;
  max-width: 584px;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle-cuauh {
  display: flex;
  max-width: 456px;
  flex-direction: column;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1;
  padding-bottom: 10px;
}
.subtitle-cuauh__place_artist {
  margin: 0;
  font-size: 12px;
  line-height: 121.3%;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle-cuauh__place_name_trevizo {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city-cuauh__images_cuauh {
  max-width: 460px;
  width: 100%;
}
.paragraph-cuauh {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  max-width: 484px;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}
.paragraph-cuauh__cuauh_text_chih {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.paragraph-cuauh__cuauh_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 15px;
}
.city-cuauh__link {
  background-color: #0278fe;
  color: #fff;
  margin-top: 31px;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.city-cuauh__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 990px) {
  .city-cuauh {
    max-width: 720px;
    column-gap: 17px;
  }
  .city-cuauh__title_cuauh {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .paragraph-cuauh__cuauh_text_chih {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph-cuauh__cuauh_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle-cuauh__place_artist {
    line-height: auto;
  }
  .city-cuauh__images_cuauh {
    max-width: 340px;
    width: 100%;
  }
  .paragraph-cuauh {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6px;
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .city-cuauh {
    padding-top: 36px;
    display: block;
    max-width: 320px;
    align-items: center;
  }
  .city-cuauh__title_cuauh {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle-cuauh {
    padding-bottom: 30px;
  }
  .subtitle-cuauh__place_artist {
    font-size: 12px;
    line-height: auto;
    max-width: 288px;
    width: 100%;
    margin: 0 auto 8px;
    padding-top: 20px;
  }
  .subtitle-cuauh__place_name_trevizo {
    max-width: 288px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 0;
    text-align: left;
  }
  .city-cuauh__images_cuauh {
    max-width: 320px;
    margin-bottom: 8px;
  }
  .paragraph-cuauh {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city-cuauh__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
