.places {
  color: #fff;
}
.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  row-gap: 48px;
  column-gap: 30px;
  max-width: 984px;
  padding-top: 92px;
}
.city__title {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-column: 2/3;
  grid-row: 1;
}
.subtitle__place_artist {
  margin: 0;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 1.21px;
  font-weight: 400;
  max-width: 58px;
  letter-spacing: 0.12em;
  color: #aaa;
}
.subtitle__place_name_author {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.city__image {
  max-width: 460px;
  width: 100%;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 484px;
  text-align: left;
  grid-row: 2/4;
  grid-column: 2;
}
.paragraph__place_text_intro {
  padding-bottom: 25px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.paragraph__place_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 25px;
}
.paragraph__place_text:last-of-type {
  padding-bottom: 0;
}
.city__link {
  background-color: #0278fe;
  display: flex;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  max-width: 355px;
  width: 100%;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.city__link:hover {
  opacity: 0.5;
}
.city__title_berea {
  margin: 0;
  max-width: 584px;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
@media screen and (max-width: 990px) {
  .places {
    padding-top: 88px;
  }
  .city {
    max-width: 720px;
    row-gap: 24px;
    column-gap: 17px;
    padding-top: 0;
    padding-bottom: 31px;
  }
  .city:last-of-type {
    padding-bottom: 0;
  }
  .city__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .subtitle {
    max-width: 295px;
    padding-bottom: 0px;
  }
  .paragraph {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    max-width: 352px;
    line-height: 1.6;
    text-align: left;
    padding-top: 7px;
  }
  .paragraph__place_text_intro {
    font-size: 16px;
    max-width: 352px;
    width: 100%;
  }
  .paragraph__place_text {
    font-size: 16px;
    max-width: 352px;
  }
  .subtitle__place_artist {
    line-height: 1.21px;
    padding-bottom: 8px;
  }
  .city__image {
    max-width: 340px;
    width: 100%;
    padding-bottom: 24px;
    padding-top: 31px;
  }
}
@media screen and (max-width: 580px) {
  .places {
    padding-top: 62px;
  }
  .city {
    display: block;
    max-width: 320px;
    align-items: center;
    padding-top: 62px;
  }
  .city__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
  .subtitle {
    display: flex;
    margin: auto;
  }
  .subtitle__place_artist {
    display: flex;
    font-size: 12px;
    max-width: 288px;
    width: 100%;
    margin: 30px auto 8px;
  }
  .subtitle__place_name_author {
    max-width: 288px;
    font-size: 18px;
    line-height: 22px;
  }
  .city__image {
    max-width: 320px;
    padding-top: 0;
  }
  .paragraph {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    margin: auto;
  }
  .city__link {
    max-width: 288px;
    font-size: 14px;
    margin: 8px 16px 0 16px;
  }
}
